@media only screen and (max-width : 1224px) {

    .expert {
        transform: translateX(100px);
    }

    .footer__main {
        gap: 10rem;
        margin-left: 200px;
    }

    .extra {
        width: 100%;
        margin-left: 200px;
    }
}

@media only screen and (max-width : 1024px) {
    .expert {
        transform: translateX(200px);
    }

    .footer__main {
        gap: 15rem;
        margin-left: 200px;
    }

    .extra {
        width: 100%;
        margin-left: 200px;
        gap: 220px;
    }
}

@media only screen and (max-width: 575.98px) {}